@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


*{
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #373b69;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 1rem;
    :hover {
        box-shadow: 0 2px 10px rgb(0 0 0 / 80%);
    }
}

.movie img {
    width: 300px;
}

.movie-info {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
    align-items: center;
}

.movie-info h3 {
    margin: 0;
}

.movie-info span {
    background-color: #020a3671;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
    font-weight: bold;
}


.movie-info span.green {
    color: green;
}

.movie-info span.orange {
    color: orange;
}

.movie-info span.red {
    color: red;
}
